html {
    height: 100%;
}
body {
    background-color: hsl(205, 30%, 35%);
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Century Gothic", "Avant Garde Gothic", "Avant Garde", "URW Gothic L";
}
.pill {
    transition: all .5s cubic-bezier(0.75,0.1,0.75,1);

    -webkit-transform: skewY(90deg);
    transform: skewY(90deg);

    display: inline-block;
}
.head a {
    color: green;
    text-decoration: none;
}
.head a:hover {
    background-color: transparent;
    color: green;
}
.head {
    padding: 25px;
    font-size: 250%;
    color: green;
    overflow: hidden;
}
#content {
    width: 80%;
    margin: 0 auto;
    background-color: hsl(0, 0%, 92%);
    box-shadow: 1px 0px 5px black, -1px 0px 5px black;
    min-height: 100%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: none;
    -webkit-perspective-origin: 50% 0;
}
#links {
    text-align: center;
}
#links a {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    -webkit-transition-property: color, text-shadow;
    -webkit-transition-duration: 0.6s, 0.6s;
    -webkit-transition-timing-function: linear, ease-out;
}
#links a:hover {
    color: transparent;
    background-color: transparent;
    text-shadow: 0 0 6px blue;
    -webkit-animation-name: foon;
    -webkit-animation-duration: 1.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-delay: 0.3s;

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
@-webkit-keyframes foon {
   0% { -webkit-transform: translate(1px, 1px) }
   10% { -webkit-transform: translate(-1px, -1px) }
   20% { -webkit-transform: translate(-1px, 0px) }
   30% { -webkit-transform: translate(0px, 1px) }
   40% { -webkit-transform: translate(1px, -1px) }
   50% { -webkit-transform: translate(-1px, 1px) }
   60% { -webkit-transform: translate(-1px, 1px) }
   70% { -webkit-transform: translate(1px, 1px) }
   80% { -webkit-transform: translate(-1px, -1px) }
   90% { -webkit-transform: translate(1px, 1px) }
   100% { -webkit-transform: translate(1px, -1px) }
}
.rotator-right, .rotator-left {
    display: none;
    position: absolute;
    font-size: 500%;
    right: 15px;
    cursor: pointer;
    transition: all 1s;
    opacity: .6;
    text-decoration: none;
    color: black;
}
.rotator-left {
    left: 15px;
    width: 1em;
}
.rotator-left:hover, .rotator-right:hover {
    opacity: 1;
    margin-top: 15px;
    background-color: transparent;
    color: black;
}
.blog {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 25px;
}
a {
    transition: background-color .3s, color .3s;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
}
a:hover {
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 3px;
}
a:active {
    padding: 3px 1px 1px 3px;
    box-shadow: inset 1px 1px black;
}

.tilt-in, .tilt-out {
    -webkit-transform-origin: top right;
    -webkit-transform: rotateY(90deg);
    -webkit-transition: -webkit-transform .5s linear;
    transform-origin: top right;
    transform: rotateY(90deg);
    transition: transform .5s linear;
}
.tilt-out {
    -webkit-transform-origin: top left;
    -webkit-transform: none;
    transform-origin: top left;
    transform: none;
}
